<div class="story-modal-content modal-content m-1 rounded" style="width: 20rem; overflow: hidden">
  <div class="modal-header">
    <div class="modal-title">
      <%= story.user.username %>
    </div>
  </div>
  <div class="modal-body" style="background-color: #1f1f23">
    <div id="carouselStoryes" class="carousel slide  overflow-y-hidden" style="max-width: 100%; max-height: 100%">
      <div class="carousel-inner ">
        <% story.images.each_with_index do |story_image, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= image_tag story_image, class:"d-block w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= form_with url: comments_path, method: :post, data: { controller: "comments", action: "turbo:submit-end->comments#clear" } do |f| %>
    <div class="d-flex">
      <%= f.hidden_field :story_id, value: story.id %>
      <%= f.text_area :story_message, class: "w-100", placeholder:"Add comment...", style:"border:none; margin: 2rem; resize: none;" %>
      <button type="submit" class="text-primary fw-bold me-3" style="background:none; border:none">
        <i class="fa-regular fa-paper-plane" style="color: #000000;"></i>
      </button>
      </div>
    <% end %>
  </div>
</div>

<script>
</script>
