<div class="modal-content" style="width: 28rem; height: 50rem; overflow: hidden">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <%#= render 'stories/story_carrouselFull', story: story %>
      </div>
      <div class="form-container">
        <% unless story.user == current_user %>
        <div>
          <%= form_with url: comments_path, method: :post, data: { controller: "comments", action: "turbo:submit-end->comments#clear" } do |f| %>
            <div class="d-flex">
              <%= f.hidden_field :story_id, value: story.id %>
              <%= f.text_area :story_message, class: "w-100", placeholder:"Add comment...", style:"border:none; margin: 2rem; resize: none;"  %>
              <button type="submit" class="text-primary fw-bold me-3" style="background:none; border:none">
                <i class="fa-regular fa-paper-plane" style="color: #000000;"></i>
              </button>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <% if story.user == current_user %>
        <div class="position-absolute bottom-0 w-100" id="collapseContainer">
          <a class="btn d-block text-center" data-bs-toggle="collapse" href="#collapseExample<%= story.id %>" role="button" aria-expanded="false" aria-controls="collapseExample<%= story.id %>">
              <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
              <i class="fa-solid fa-chevron-up d-none" style="color: #000000;"></i>
          </a>
          <div class="collapse" id="collapseExample<%= story.id %>">
              <h3>Viewers:</h3>
              <ul>
                  <% story.viewers.each do |user| %>
                      <li><%= user.username %></li>
                  <% end %>
              </ul>
          </div>
        </div>
      <% end %>
    </div>
