<div id="storycarrousel<%= story.id %>" class="carousel slide">
  <div class="carousel-inner">
    <%= render 'stories/story_images', story: story %>
  </div>
  <% if story.images.count > 1 %>
    <button class="carousel-control-prev" type="button" data-bs-target="#storycarrousel<%= story.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <% if @last_image_story && url_for(story.images.last) != rails_blob_url(@last_image_story) %>
      <button class="carousel-control-next" type="button"
          data-bs-target="#storycarrousel<%= story.id %>"
          data-bs-slide="next"
          data-last-image="<%= story.images.last %>"
          data-next-story-id="<%= next_story_id(story.id) %>"
          onclick="handleNextStory(this)"
          onmouseover="checkLastImage(this)">
      <span class="carousel-control-next-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <% end %>
  <% end %>
  <% if story.images.count > 1 %>
    <div class="carousel-indicators">
      <% story.images.each_with_index do |image, index| %>
        <button type="button" data-bs-target="#storycarrousel<%= story.id %>" data-bs-slide-to="<%= index %>" class="bg-dark <%= index== 0 ? 'active' : '' %>" <%= index == 0 ? 'aria-current="true"' : '' %> aria-label="Slide <%=index + 1%>"></button>
      <% end %>
    </div>
  <% end %>
</div>

<script>
    function setCarouselButtonVisibility(carousel) {
        let prevButton = carousel.querySelector('.carousel-control-prev');
        let nextButton = carousel.querySelector('.carousel-control-next');
        let activeIndex = Array.from(carousel.querySelectorAll('.carousel-item')).findIndex(item => item.classList.contains('active'));

        if (activeIndex === 0) {
            prevButton.style.display = 'none';
        } else {
            prevButton.style.display = 'block';
        }

        if (activeIndex === carousel.querySelectorAll('.carousel-item').length - 1) {
            nextButton.style.display = 'none';
        } else {
            nextButton.style.display = 'block';
        }
    }

    document.querySelectorAll('.carousel').forEach(carousel => {
        // Initialize button visibility
        setCarouselButtonVisibility(carousel);

        // Update button visibility on slide change
        carousel.addEventListener('slid.bs.carousel', function() {
            setCarouselButtonVisibility(carousel);
        });
    });
</script>
