
  <li>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
      <%= image_tag follow.follower.profile_picture.attached? ? follow.follower.profile_picture : 'profile_picture.jpg', class:"img-thumbnail rounded-circle ", style: "width: 2.5rem" %>
        <div class="d-flex flex-column mx-3 justify-content-center">
          <small class="fw-bold" style="overflow: hidden;white-space:nowrap; max-width:5rem;text-overflow: ellipsis">
            <%= link_to follow, class: "a-decoration-none" do %>
              <%= follow.follower.username %>
            <% end %>
          </small>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-between" style="width:10.5rem">
        <%= button_to accept_follow_path(follow_id: follow.id), method: :post, class:"btn btn-primary", style: "text-decoration:none" do %>
          <small class="fw-bol text-white">Accept</small>
            <% end %>
              <%= button_to decline_follow_path(follow_id: follow.id), method: :delete, class:"btn btn-danger", style: "text-decoration:none" do %>
            <small class="fw-bol text-white">Decline</small>
          <% end %>
        </div>
      </div>
    </li>
