<%= turbo_frame_tag "post#{post.id}comments" do %>
  <% unless defined?(hide_comments_link) && hide_comments_link %>
    <% if post.comments.count > 0 %>
      <a href="#" data-bs-toggle="modal" data-bs-target="#post<%=post.id%>ModalToggle" style="text-decoration:none">
        <small class="text-muted">View all <%= pluralize(post.comments.count, "comments") %></small>
      </a>
    <% end %>
  <% end %>
  <% last_comment = post.comments.last %>
    <% if last_comment %>
      <p class="card-text m-0">
        <%= link_to last_comment.user, class:"a-decoration-none", data: {turbo:false} do %>
          <span class="fw-bold"><%= last_comment.user.username %></span>
        <% end %>
        <%= last_comment.body %>
      </p>
    <% end %>
<% end %>
