<div class="modal fade" id="post<%=post.id%>ModalToggle" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <%= turbo_frame_tag "post#{post.id}modal" do %>
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="height:50rem">
        <div class="modal-body d-flex" style="overflow:auto">
          <div class="border-end" style="width:45rem; height: 100%;">
            <% post.images.each_with_index do |image, index| %>
              <a href="#" data-bs-toggle="modal" data-bs-target="#post<%=post.id%>modalToggle">
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="height: 100%;">
                  <div id="carrousel<%= post.id %>Modal2" class="carousel slide" style="height: 100%;">
                    <div class="carousel-inner" style="height: 100%;">
                      <% post.images.each_with_index do |image, index| %>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#post<%=post.id%>ModalToggle">
                          <div class="carousel-item <%= index == 0 ? 'active' : '' %>" style="height: 100%;">
                            <%= image_tag image, class: "d-block w-100 h-100", style: "object-fit: contain;" %>
                          </div>
                        </a>
                      <% end %>
                    </div>
                    <% if post.images.count > 1 %>
                      <button class="carousel-control-prev " type="button" data-bs-target="#carrousel<%= post.id %>Modal2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next " type="button" data-bs-target="#carrousel<%= post.id %>Modal2" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    <% end %>

                    <% if post.images.count > 1 %>
                      <div class="carousel-indicators">
                        <% post.images.each_with_index do |image, index| %>
                          <button type="button" data-bs-target="#carrousel<%= post.id %>" data-bs-slide-to="<%= index %>" class="bg-dark <%= index== 0 ? 'active' : '' %>" <%= index == 0 ? 'aria-current="true"' : '' %> aria-label="Slide <%=index + 1%>"></button>
                        <% end %>
                      </div>
                    <% end %>
                    </div>
                </div>
              </a>
            <% end %>
          </div>
          <div class="p-4" style="width:25rem; overflow-y:scroll">
            <div>
            </div>
            <% post.comments.each do |comment| %>
              <%= render 'posts/modal_comment', comment: comment %>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
