<div class="d-flex justify-content-between">
  <div class="d-flex">
    <%= image_tag suggestion.profile_picture.attached? ? suggestion.profile_picture : 'profile_picture.jpg', class:"img-thumbnail rounded-circle ", style: "width: 2.5rem" %>
    <div class="d-flex flex-column mx-2">
      <small class="fw-bold" style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap max-width:10rem;">
        <%= link_to suggestion, class:"a-decoration-none", data: {turbo:false} do  %>
          <%= suggestion.username %>
        <% end %>
      </small>
      <small class="text-muted" style="font-size:.7rem;overflow: hidden; text-overflow: ellipsis; white-space:nowrap;max-width:10rem;">Suggested for you by instagram as he followed you</small>
    </div>
  </div>

  <% if current_user.waiting_followings.include?(suggestion) %>
    <%= render 'suggestions/decline_suggestion_button', suggestion: suggestion %>
  <% else %>
    <%= render 'suggestions/follow_suggestion_button', suggestion: suggestion %>
  <% end %>
</div>
