<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://unpkg.com/filepond@4.x/dist/filepond.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond@4.x/dist/filepond.js"></script>
  <style>
      <%= ".msg-#{current_user&.id}"%>{
        background-color: #007bff !important;
        padding: 10px;
      }

      <%= ".cont-#{current_user&.id}"%>{
        display: flex;
        justify-content: flex-end;
      }

  </style>

  </head>
  <body class="app-container users bg-white" style="<%= 'overflow-y: hidden;' if controller_name == 'rooms' || (controller_name == 'users' && action_name == 'direct_message') %>">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 border-end">
        <% if current_user %>
          <%= render 'shared/sidebar' %>
        <% end %>
        </div>
        <div class="col-10 mt-5" >
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
