<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://unpkg.com/filepond@4.x/dist/filepond.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond@4.x/dist/filepond.js"></script>
  </head>

  <body>
    <% if current_user %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
